body {
	font-family: helvetica, sans-serif;
	color: rgb(75, 75, 75);
	text-align: center;
	letter-spacing: 0.1em;
	font-weight: normal;
}

h1 {
	font-size: 2.9em;
	color: rgb(160, 160, 160);
	letter-spacing: 6px;
	font-weight: normal;
	margin-top: 40px;
	margin-bottom: -25px;
}

h2 {
	font-size: 1.6em;
	color: rgb(120, 120, 120);
	letter-spacing: 4px;
	font-weight: normal;
	line-height: 35%;
}

footer {
	font-size: 1.2em;
	color: rgb(190, 190, 190);
	letter-spacing: 6px;
}


/*_____________________________________________________________*/
/* CONTENT */

.contentEntry { display: block; }
.halfContentText { margin-left: 50%; text-align: left; }
.contentImage img { width: auto; height: auto; max-width: 100%; max-height: 100%; }
.contentColumns { margin: 0px auto; }
.contentText { line-height: 1.15em; text-align: center; }

.leftContentText {
	width: 48%;
	float: left;
	text-align: right;
}

.rightContentText {
	width: 48%;
	float: right;
	text-align: left;
}

.bigContentText {
	font-size: 1.5em;
	line-height: 1.15em;
	margin-top: -10px;
}


/*_____________________________________________________________*/
/* HEADER */

#header { margin-top: -25px; font-size: 1.25em; margin-bottom: 75px; }
#logos { margin-top: 25px; }
#logos img { padding-left: 5px; padding-right: 5px; }

#mainlogo img {
	display: block;
	margin-top: 25px;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: -15px;
}

#maintext img {
	display: block;
	margin-top: 11px;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: -15px;
}


/*_____________________________________________________________*/
/* MENU */

#menu { padding-top: 5px; }
.contentEntryMenu { margin-bottom: -20px; }

.contentEntryMenu #menu .menuItem a { font-size: 0.95em; letter-spacing: 0px; }
.rightContentText #menu .menuItem { margin-top:15px; }


#menu .menuItem  { background-color: rgb(175, 175, 175); padding-left: 8px; padding-right: 8px; padding-top: 3px; padding-bottom: 3px; }
#menu .menuItem  a { text-decoration: none; letter-spacing: 3px; color: rgb(255, 255, 255); }
#menu .menuItem:hover { background-color: rgb(255, 255, 255); }
#menu .menuItem:hover a { color: rgb(175, 175, 175); }

.horizontalRuler {
    border-top:1px solid rgb(175, 175, 175);
    height: 1px; 
	padding-top: 5px;
	padding-bottom: 0px;
}

.rightContentText #menu .menuItem {
	display: block;
	font-size: 1.45em;
	width: 9.7em;
}

.navbar .nav,
.navbar .nav .menuItem {
	margin-right: 0px;
	float:center;
	display:inline-block;
	padding: 0;
}

.contentEntryMenu .menuItem {
	float:center;
	display:inline-block;
}

.navbar-inner { background-color: rgb(255, 255, 255); padding-bottom: 5px;}


/*_____________________________________________________________*/
/* MEDIA QUERIES */

@media all and (min-width: 0px) and 	(max-width: 320px) 	{ .contentSpacing { padding-top:18%; } 	body { font-size: 0.58em; } }
@media all and (min-width: 320px) and 	(max-width: 480px) 	{ .contentSpacing { padding-top:18%; } 	body { font-size: 0.68em; } }
@media all and (min-width: 480px) and 	(max-width: 768px) 	{ .contentSpacing { padding-top:13%; } 	body { font-size: 0.78em; } }
@media all and (min-width: 768px) and 	(max-width: 1024px) { .contentSpacing { padding-top:7.2%; }	body { font-size: 0.9em; } }
@media all and (min-width: 1024px) and 	(max-width: 1280px) { .contentSpacing { padding-top:7%; } 	body { font-size: 0.9em; }}
@media all and (min-width: 1280px) and 	(max-width: 1440px)	{ .contentSpacing { padding-top:4%; } 	body { font-size: 1.0em; }}
@media all and (min-width: 1440px) and 	(max-width: 9999px) { .contentSpacing { padding-top:6%; }	body { font-size: 1.0em; }}