body {
	font-family: helvetica, sans-serif;
	font-size: 0.8em;
	color: rgb(75, 75, 75);
	text-align: center;
	letter-spacing: 0.1em;
	font-weight: normal;
	text-transform:lowercase;
}

@media all and (max-width: 480px) {
	body {
		margin-left: 0%;
		margin-right: 0%;
		font-size: 0.5em;
	}
}

@media all and (min-width: 1024px) {
	body {
		margin-left: 10%;
		margin-right: 10%;
	}
}

@media all and (min-width: 1280px) {
	body {
		margin-left: 15%;
		margin-right: 15%;
	}
}

@media all and (min-width: 1440px) {
	body {
		margin-left: 20%;
		margin-right: 20%;
	}
}

h1 {
	font-size: 2.9em;
	color: rgb(160, 160, 160);
	letter-spacing: 6px;
	font-weight: normal;

	margin-top: 20px;
}

h2 {
	font-size: 1.6em;
	color: rgb(120, 120, 120);
	letter-spacing: 4px;
	font-weight: normal;
	line-height: 35%;
	
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}



/* CONTENT */

.contentEntry {
	display: block;
	margin-bottom: 100px;
}

.contentText {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 1.15em;
	text-align: justify;
	margin: 0 auto;
}

.fullContentText {
	
}

.halfContentText {
	margin-left: 50%;
	text-align: left;
}

.contentColumns { }

.leftContentText {
	width: 48%;
	float: left;
	text-align: justify;
}

.rightContentText {
	width: 48%;
	float: right;
	text-align: justify;
}

.bigContentText {
	font-size: 1.5em;
	line-height: 1.15em;
	margin-top: -10px;
}

.contentImage {
	margin-top: 18px;
}

@media all and (min-width: 300px) and (max-width: 480px) {
	.contentSpacing {
		padding-top:25%;
	}
}

@media all and (min-width: 480px) and (max-width: 768px) {
	.contentSpacing {
		padding-top:8%;
	}
}

@media all and (min-width: 768px) and (max-width: 1024px) {
	.contentSpacing {
		padding-top:16%;
	}
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
	.contentSpacing {
		padding-top:12%;
	}
}

@media all and (min-width: 1280px) and (max-width: 1440px) {
	.contentSpacing {
		padding-top:7%;
	}
}

@media all and (min-width: 1440px) and (max-width: 9999px) {
	.contentSpacing {
		padding-top:6%;
	}
}


/* HEADER */

#header {
    font-size: 1.25em;
	margin-bottom: 35px;
}

#logos {
    margin-top: 25px;
}

#logos img {
    padding-left: 7px;
    padding-right: 7px;
}

#mainlogo img {
	display: block;
	margin-top: 25px;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: -15px;
}

#maintext img {
	display: block;
	margin-top: 15px;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: -15px;
}



/* MENU */

.horizontalRuler {
    border-bottom:1px solid rgb(175, 175, 175);
    height:1px; 
	padding-top:5px;
    margin-top:9px;
    margin-bottom:-5px;
}

#menu ul {  
    padding: 0;
	margin-bottom: -7px;
}

#menu li:hover { 
	background-color: rgb(255, 255, 255);
}

#menu li:hover a { 
	color: rgb(175, 175, 175);
}

#menu li { 
	display:inline-block; 
	padding-top: 4px;
	padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 4px;
	width: 9em;
	background-color: rgb(175, 175, 175);
}
#menu li a {
	text-decoration: none;
	color: rgb(255, 255, 255);
	letter-spacing: 1px;
}